# Oh My Zsh
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM="$HOME/.config/zsh"
ZSH_THEME="spaceship"

plugins=(
  git
  zsh-autosuggestions
  fzf-tab
  fast-syntax-highlighting
  command-not-found
)
{{- $profiles := index . "profiles" | default (list "full") -}}

{{ if has "full" $profiles -}}
if command -v zoxide &> /dev/null; then
    eval "$(zoxide init zsh --cmd cd)"
fi
{{- end }}
source <(fzf --zsh)

source $ZSH/oh-my-zsh.sh

