{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Check if apt is available and we are on a compatible system
if command -v apt >/dev/null 2>&1; then
    echo "Checking for system updates via apt..."
    
    # -qq (quite quiet) and -y (auto-yes) make it script-friendly
    # We use sudo but the script will "quietly" fail or ask for pass if needed
    sudo apt-get update -qq && sudo apt-get upgrade -yqq
else
    # Quiet exit if apt is not found
    exit 0
fi
{{ end -}}

