{{ if eq .chezmoi.os "linux" -}}
if [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [[ -x "${HOME}/.linuxbrew/bin/brew" ]]; then
  eval "$("${HOME}/.linuxbrew/bin/brew" shellenv)"
fi
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

if command -v zoxide >/dev/null 2>&1; then
  eval "$(zoxide init zsh --cmd cd)"
fi

if command -v fzf >/dev/null 2>&1; then
  source <(fzf --zsh)
fi
